.body-container {
  padding: 30px;
}

h1  {
  font-size: 15;
  font-weight: bold;
}

.bg-image:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://source.unsplash.com/collection/135657');
  background-size: cover;
  height: 100%;
  opacity: 0.5;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}
