.avatar {
  margin: auto;
}

.column {
  padding: 10px;
}

.button {
  min-width: 120px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.swing {
   perspective: 1000px;
}

.fade-enter-active, .fade-leave-active {
  transform: none;
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.fade-enter, .fade-leave-active {
  transform: rotateX(90deg);
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

/*.modal-background {
  background-color: rgba(10, 10, 10, 0.46);
}*/
